footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #565656;
    color: white;
}

#footertext {
    margin-left: 2%;
}

body {
    margin-left: 2%;
    margin-top: 1%;
}

#aantalOefeningen {
    margin-top: 2%;
}

.options {
    margin-left: 2%;
}


.suboptions {
    margin-left: 2%;
    margin-top: 5px;
}

.numberinput {
    width: 50px;
    text-align: center;
    color: red;
}

.subtitle {
    font-size: x-large;
    margin-left: 2px;
}

.subtitlediv{
    margin-top: 2%;
    margin-left: 1%;
}

.oefening {
    margin-left: 2%;
    font-size: x-large;
}

.oplossing {
    color: black;
    font-size: x-large;
}

.error {
    color: red;
}

#optellingerror {
    margin-left: 2%;
}

#verschilerror {
    margin-left: 2%;
}

.wrapper {
    display: flex
}

.wrapper-item {
    min-width: 25%;
}

.wrapper-options {
    margin-left: 7%;
}